# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
Functions/

# Powershell file used to Run the PSModuleBuilder.ps1 with default parameters for testing.
Run.ps1

# eBook build output
*.epub
*.mobi
*.pdf
