# Ignore system files
Thumbs.db
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore PowerShell temporary files
*.ps1xml
*.psc1
*.psd1
*.cdxml
*.clixml

# Ignore log files
*.log

# Ignore build output
bin/
obj/

# Ignore files built by PowerShell
*.dll
*.exe
*.msi
*.msix
*.msm
*.msp

# Ignore all files that might appear in the root of a volume
$RECYCLE.BIN/
System Volume Information/